body
{
  font-family:sans-serif;
  color:rgb(81, 0, 0);
  background-color: rgb(192, 164, 136);
}

li
{
  font-family:sans-serif;
  color:rgb(81, 0, 0);
}

a:link
{
  font-weight: lighter;
}

a:visited
{
  color:rgb(99, 142, 186)
}

a:focus
{
  color:dodgerblue
}

a:hover
{
  color:rgb(156, 208, 244)
}

a:active
{
  color:rgb(61, 158, 255)
}